## Pandas(pd)로 데이터 가공하기

* 파이썬 라이브러리
* 1차원 Series, 2차원 DataFrame 제공

In [4]:
import numpy as np
import pandas as pd
pd.__version__

'1.1.5'

In [5]:
data = pd.Series([0.25,0.5,0.75,1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [6]:
data.values
data.index

RangeIndex(start=0, stop=4, step=1)

In [8]:
data[1:3]

1    0.50
2    0.75
dtype: float64

In [9]:
data = pd.Series([0.25, 0.5, 0.75, 1],
        index = ['a', 'b', 'c', 'd'])
data['b']

0.5

In [10]:
data = pd.Series([0.25, 0.5, 0.75, 1],
        index = [2, 5, 3, 7])
data[5]

0.5

In [11]:
population_dict = {'California' : 3888888,
                   'Texas' : 2222222,
                   'New York' : 2342342,
                   'Florida' : 1233455,
                   'Illinois' : 123123123}
population = pd.Series(population_dict)
population['California' : 'Illinois']

California      3888888
Texas           2222222
New York        2342342
Florida         1233455
Illinois      123123123
dtype: int64

In [12]:
population['California':'Illinois']

California      3888888
Texas           2222222
New York        2342342
Florida         1233455
Illinois      123123123
dtype: int64

In [13]:
pd.Series(5, index = [100, 200, 300])

100    5
200    5
300    5
dtype: int64

In [15]:
dic_data={2:'a',1:'b',3:'c'}
dic_data

{1: 'b', 2: 'a', 3: 'c'}

In [16]:
pd.Series({2:'a',1:'b',3:'c'})

2    a
1    b
3    c
dtype: object

In [17]:
area_dict = {
    'California': 38332521,
    'Texas':26448393,
    'New York':19651127,
    'Florida':19552860,
    'Illinois':12882135
}
area = pd.Series(area_dict)
area

California    38332521
Texas         26448393
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [18]:
states = pd.DataFrame({'population':population, 'area':area})
states

            population      area
California     3888888  38332521
Texas          2222222  26448393
New York       2342342  19651127
Florida        1233455  19552860
Illinois     123123123  12882135

In [19]:
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [20]:
states.columns

Index(['population', 'area'], dtype='object')

In [21]:
states['area']

California    38332521
Texas         26448393
New York      19651127
Florida       19552860
Illinois      12882135
Name: area, dtype: int64

In [22]:
pd.DataFrame(population, columns=['population'])

            population
California     3888888
Texas          2222222
New York       2342342
Florida        1233455
Illinois     123123123

In [23]:
pd.DataFrame(population, index=['Texas'], columns =["population"])

       population
Texas     2222222

In [24]:
pd.DataFrame([{'a' : 1, 'b':2}, {'b':3, 'c':4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [25]:
pd.DataFrame({'population':population, 'area':area})

            population      area
California     3888888  38332521
Texas          2222222  26448393
New York       2342342  19651127
Florida        1233455  19552860
Illinois     123123123  12882135

In [28]:
pd.DataFrame(np.random.rand(3,2),
             columns=['foo','bar'],
             index=['a','b','c'])

        foo       bar
a  0.052339  0.578020
b  0.967339  0.520536
c  0.774224  0.582793

In [30]:
ind = pd.Index([2,3,5,7,11])
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

In [31]:
ind[::2]

Int64Index([2, 5, 11], dtype='int64')

In [32]:
print(ind.size, ind.shape, ind.ndim)

5 (5,) 1

In [33]:
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])
indA & indB #교집합

Int64Index([3, 5, 7], dtype='int64')

In [34]:
indA | indB #합집합

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [35]:
indA ^ indB #두 집합의 상대 여집합의 합

Int64Index([1, 2, 9, 11], dtype='int64')

#### loc vs iloc

In [37]:
data = pd.Series([0.25, 0.5, 0.75, 1], index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [38]:
data.loc['a']

0.25

In [39]:
data.iloc[1]

0.5

In [40]:
student1 = pd.Series({'국어':96, '영어':90, '수학':80})
student2 = pd.Series({'수학' : 94, '영어':100})
sum_student = student1.add(student2, fill_value = 0)
sum_student

국어     96.0
수학    174.0
영어    190.0
dtype: float64

In [41]:
korean = pd.Series({'s1':96, 's2':80, 's3':96})
english = pd.Series({'s1':94, 's2':100, 's3':96})
math = pd.Series({'s1':90, 's2':83, 's3':92})
score = pd.DataFrame({'kor':korean, 'eng':english, 'mat':math})
score

    kor  eng  mat
s1   96   94   90
s2   80  100   83
s3   96   96   92

In [43]:
score1 = score + np.random.randint(-10, 10)
score1

    kor  eng  mat
s1  104  102   98
s2   88  108   91
s3  104  104  100

In [44]:
score2 = score + np.random.randint(-10, 10)
score2

    kor  eng  mat
s1  100   98   94
s2   84  104   87
s3  100  100   96

In [45]:
sum_score = score1 + score2
sum_score

    kor  eng  mat
s1  204  200  192
s2  172  212  178
s3  204  204  196